ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul>li{
    display: flex;
    width: 100%;
    border-bottom: solid 1px black;
    text-align: center;
    height: 30px;
    flex-direction: column;
    justify-content: center;
}
ul>li>a{
    text-decoration: none;
    color: blue;
    vertical-align: middle;

}
.link-active a{
    color: black !important;
}