<ul class='nav'>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/instruction']">
      Instruction
    </a>
  </li>
  <li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/people']">
      People
    </a>
  </li>
</ul>