<p *ngIf="!people">
  <em>Loading...</em>
</p>
<table *ngIf="people">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of people">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.birthDay | date: "dd.MM.yyyy" }}</td>
    </tr>
  </tbody>
</table>