table{ border-collapse: collapse;}
table, th, td {
    border: 1px solid black;
}
table td,th{
    text-align: center;
    padding: 5px;
}
table{
    min-width: 400px;
    /* width: 100%; */
    margin: auto;
}